<div id="print-section">

  <img src="../../../assets/img/Importadora Ricamar.png" alt="" style="height: 60px;">

  <div style="padding-left: 250px;">
    <p>Cliente : Ejemplo de cliente</p>
    <p>Direccion: Avenida ejemplo de direccion</p>
  </div>

  <hr />
<div>
  N. Pedido : 1234123123
  <br>
  N. Fact/Not: 12332
</div>
<hr>
  <div style="break-after: page;"></div>

  <img src="../../../assets/img/Importadora Ricamar.png" alt="" style="height: 60px;">

  <div style="padding-left: 250px;">
    <p>Cliente : Ejemplo de cliente</p>
    <p>Direccion: Avenida ejemplo de direccion</p>
  </div>

  <hr />
<div>
  N. Pedido : 1234123123
  <br>
  N. Fact/Not: 12332
</div>

</div>

<button printSectionId="print-section" ngxPrint>
Print
</button>
