<div *ngIf="!this.gestionaveriasService.mostrarForm2">
	<mat-form-field>
		<mat-label>Buscar por</mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Buscar por" #input>
	</mat-form-field>
</div>









<div class="card bg-light mb-3" style="padding-top: 0; margin-top: 0;">
	<div class="card-body text-info panel panel-login" *ngIf="gestionaveriasService.mostrarForm2" style="border-style: solid; border-width: 0px;">
		<!--<form #avForm="ngForm" (ngSubmit)="onSubmit(avForm)">-->
		<form #avForm="ngForm" #pForm (ngSubmit)="agregardetalles()">
			<div class="row">
				<div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
					<div class="card">
						<div class="card-body" style="padding-right: 8px;padding-left:  8px; height: 195px;">
							
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 85px;">
										  <span class="input-group-text" style="width: 80px;" id="inputGroup-sizing-sm">Cliente</span>
										</div>
										<input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
											placeholder=""
											type="text"
											name="nomcliente"
											id="nomcliente"
											#nomcliente="ngModel"
											[(ngModel)]="this.gestionaveriasService.nomrifCli"
											required
											class="form-control"
											aria-label="Small"
											readonly
										/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 85px;">
										  <span class="input-group-text" style="width: 80px;" id="inputGroup-sizing-sm">Vendedor</span>
										</div>
										<input 
											aria-label="Small" 
											aria-describedby="inputGroup-sizing-sm"
											type="text"
											name="nomvendedor"
											id="nomvendedor"
											#name="ngModel"
											[(ngModel)]="this.gestionaveriasService.averia_.nomvendedor"
											required
											class="form-control"
											readonly
										/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 85px;">
										  <span class="input-group-text" style="width: 80px;" id="inputGroup-sizing-sm">Email</span>
										</div>
										<input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
											placeholder=""
											type="text"
											name="email"
											id="email"
											#email="ngModel"
											[(ngModel)]="this.gestionaveriasService.averia_.email"
											required
											class="form-control"
											aria-label="Small"
											readonly
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-body" style="padding-right: 8px;padding-left:  8px; height: 195px; ">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">N° Doc/Fac</span>
											 </div>
											<div class="abs-center">
												<mat-label>{{this.gestionaveriasService.averia_.nrodocumento}}</mat-label>
											</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 125px;">
											<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Tipo Doc</span>
										</div>

										<div class="abs-center">
											<mat-label>{{this.gestionaveriasService.averia_.tipodocumento}}</mat-label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 125px;">
											<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Fecha Doc</span>
										</div>
										<div class="abs-center">
											<mat-label>{{this.timeFD}}</mat-label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-body" style="padding-right: 8px;padding-left:  8px;  height: 195px;">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 135px;">
											<span class="input-group-text" style="width: 130px;" id="inputGroup-sizing-sm">Fecha Averia</span>
										 </div>
										<input 
											type="date"
											[max]="maxDate"
											name="fechaaveria"
											id="fechaaveria"
											#fechaaveria="ngModel"
											[(ngModel)]="this.gestionaveriasService.start_time"
											required
											class="form-control"
											readonly=true
										/>
									</div>
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 135px;">
											<span class="input-group-text" style="width: 130px;" id="inputGroup-sizing-sm">Fe. Resolución</span>
										 </div>
										<input 
											type="date"
											[max]="maxDate"
											name="feresolucion"
											id="feresolucion"
											#fechaaveria="ngModel"
											[(ngModel)]="this.timeFR"
											class="form-control"
										/>
									</div>
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 135px;">
											<span class="input-group-text" style="width: 130px;" id="inputGroup-sizing-sm">Fe. Cierre</span>
										 </div>
										<input 
											type="date"
											[max]="maxDate"
											name="fechacierre"
											id="fechacierre"
											#fechaaveria="ngModel"
											[(ngModel)]="this.gestionaveriasService.fechacierre"
											class="form-control"
											readonly=true
										/>
									</div>
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 135px;">
											<span class="input-group-text" style="width: 130px;" id="inputGroup-sizing-sm">Status</span>
										 </div>
										<div class="abs-center">
											<mat-label>{{this.gestionaveriasService.averia_.status}}</mat-label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div> <!--Fila cabecera-->


			<div class="row" style="height: 5px;"></div>
			<div class="row">
				<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
					<div class="card">
						<div class="card-body" style="padding-right: 8px;padding-left:  8px; ">
							<div class="row">
								<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-right: 1px;">
									<div class="row">
										<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style="padding-right: 1px;border-width:0px;border-style:solid;border-color:ping">
											<mat-label style="font-size:smaller; font-weight: bold;">CÓDIGO</mat-label>
										</div>
										<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9" style="padding-left: 1px;">
											<mat-label style="font-size:smaller; font-weight: bold;">MATERIAL</mat-label>
										</div>
									</div>
								</div>

								<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"  style="padding-left: 1px;padding-right: 1px;border-width:0px;border-style:solid;border-color:green">
									<mat-label style="font-size:smaller; font-weight: bold;">CANTIDAD</mat-label>
								</div>

								<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1"  style="padding-left: 1px;padding-right: 1px;border-width:0px;border-style:solid;border-color:yellow">
									<mat-label style="font-size:smaller; font-weight: bold;">PRECIO</mat-label>
								</div>

								<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1" style="padding-left: 1px;padding-right: 1px;border-width:0px;border-style:solid;border-color:blue">
									<mat-label style="font-size:smaller; font-weight: bold;">MONTO</mat-label>
								</div>

								
								<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1" style="border-width:0px;border-style:solid;border-color:red">
									<mat-label style="font-size:smaller; font-weight: bold; text-align:left">MOTIVO</mat-label>
								</div>
								<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
									<mat-label style="font-size:smaller; font-weight: bold;">Aceptado/Rechazado</mat-label>
								</div>								
							</div>
						</div>
					</div>

					<div class="row" style="height: 5px;"></div>
					<div class="row" style="font-size:12px;">
						<div class="col-sm-12 col-md-12 col-lg-13 col-xl-12">
							<div class="card">
								<div class="card-body" style="padding-right: 8px;padding-left:  8px;">
									<div class="row" style="padding-top: 2px;">
										<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
											<table class="table-bordered table-striped table-sm table-responsive" style="max-height: 350px;">
												<tbody class="thead-secondary table-secondary">
												  <tr *ngFor="let ave of this.gestionaveriasService.matrisDetAveria; index as i">
													<td class="col-0" scope="row">{{ave.codigodematerial}}</td>
													<td class="col-1">{{ave.descripcionmaterial}}</td>
													<td class="col-3" style="text-align: left;">{{ave.cantidadmaterial | currency:" ":'symbol':'2.0'}}</td>
													<td class="col-4" style="text-align: left;">{{ave.preciomaterial | currency:" "}}</td>
													<td class="col-5" style="text-align: left;">{{ave.totalpormaterial | currency:" "}}</td>
													<td class="col-2" style="text-align: center;">{{ave.motivoaveria}}</td>
													<td class="col-6">
														<div class="custom-control custom-switch">
															<div class="outerDivFull" >
																<div class="switchToggle">
																	<!--[(ngModel)] -->
																	<input type="checkbox" [checked]="this.gestionaveriasService.matrisDetAveria[i].aprobado" id="switch{{i}}" (change)="aceptarRechazarItems($event,i)">
																	<label for="switch{{i}}">Toggle</label>
																</div>
															</div>
														</div>
													</td>
													<!-- <th class="col-6" style="cursor: pointer;" scope="col" (click)="removeDetRow(i)"><i class="fas fa-trash"></i></th> -->
												  </tr>
												</tbody>
											</table>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
					<div class="card">
						<div class="card-body" style="padding-right: 8px;padding-left:  8px;">

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 115px;">
											<span class="input-group-text" style="width: 110px;" id="inputGroup-sizing-sm">Monto Original</span>
										</div>
										<div class="abs-right">
											<input type="text" size="14" style="text-align: right; border: 0;" readonly=true value="{{this.gestionaveriasService.averia_.montoOriginal | currency:' '}}">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 115px;">
											<span class="input-group-text" style="width: 110px;" id="inputGroup-sizing-sm">Total Averías</span>
										</div>
										<div class="abs-right">
											<input type="text" size="14" style="text-align: right; border: 0;" readonly=true value="{{this.gestionaveriasService.averia_.totalaveria | currency:' '}}">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<div class="input-group input-group-sm mb-3">
										<div class="input-group-prepend" style="width: 115px;">
											<span class="input-group-text" style="width: 110px;" id="inputGroup-sizing-sm">% Reclamo</span>
										</div>
										<div class="abs-right">
											<input type="text" size="14" style="text-align: right; border: 0;" readonly=true value="{{this.gestionaveriasService.averia_.porcentajeReclamo | currency:' '}}%">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body" style="padding-right: 8px;padding-left: 8px;">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<textarea 
										rows="3"
										cols="25" 
										placeholder="Texto Avería"
										name="txtAveria"
										maxlength="200"
										id="txtAveria"
										[(ngModel)]="this.gestionaveriasService.averia_.txtAveria"
										readonly=true
									>
									</textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<textarea 
										rows="3"
										cols="25" 
										placeholder="Texto Resolución"
										name="txtresolucion"
										maxlength="200"
										id="txtresolucion"
										[(ngModel)]="this.gestionaveriasService.averia_.txtResolucion"
									>
									</textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<textarea 
										rows="3"
										cols="25" 
										placeholder="Texto Cierre"
										name="txtcierre"
										maxlength="200"
										id="txtcierre"
										[(ngModel)]="this.gestionaveriasService.averia_.txtCierre"
										readonly=true
									>
									</textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin: 0%; padding: auto;">

									<div class="form-group" style="text-align:right;padding-top: 10px; border-width: 0px;border-style: solid;">
										<button 
											class="btn-space" 
											smat-stroked-button 
											style="background-color:#bcc0c252; width: 60% !important;height: 35px !important;" 
											type="button" 
											[disabled]="this.gestionaveriasService.enviar !== true"
											(click)="generarpdf(avForm)"
											id="btnenviar"
											name="btnenviar"
										>
											{{this.gestionaveriasService.txtBtnAccion}}
										</button>
										<button 
											smat-stroked-button 
											style=" background-color:#bcc0c252;width: 35% !important;height: 35px !important;" 
											type="button" 
											(click)="resetForm(avForm)">
												Atrás
											</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div><!--class card-->










<div style="width: 100%; margin-left: 10px; padding-right: 10px;" *ngIf="!this.gestionaveriasService.mostrarForm2">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover" matSort>	
		<!-- Position Column -->
		<ng-container matColumnDef="uid">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;">N° Avería </th>
			<td mat-cell *matCellDef="let element"> {{element.idaveria}} </td>
		</ng-container>
		
		<!-- Name Column -->
		<ng-container matColumnDef="Fecha">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha</th>
			<td mat-cell *matCellDef="let element"> {{element.fechaaveria.toDate() | date: 'dd/MM/yyyy&nbsp; hh:mm a'}} </td>
		</ng-container>
	
		<!-- Name Column -->
		<ng-container matColumnDef="nrodocumento">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Doc. Ref </th>
			<td mat-cell *matCellDef="let element"> {{element.nrodocumento}} </td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="Cliente">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
			<td mat-cell *matCellDef="let element"> {{element.nomcliente}} </td>
		</ng-container>
		
		<!-- Symbol Column -->
		<ng-container matColumnDef="Vendedor">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
			<td mat-cell *matCellDef="let element"> {{element.nomvendedor}} </td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="Status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Status </th>
			<td mat-cell *matCellDef="let element"> {{element.status}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="totalaveria">
			<th mat-header-cell *matHeaderCellDef style="text-align: right;">Monto</th>
			<td mat-cell *matCellDef="let element"> {{element.totalaveria | currency:" "}} </td>
		</ng-container>
	
		<!-- Symbol Column -->
		<ng-container matColumnDef="Opc">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let element index as i">
				<a class="btn btn-light btn-sm" (click)="verdetalles($event,element)"  data-toggle="tooltip" data-placement="top" title="Visualizar avería">
					<i class="fas fa-search" data-toggle="tooltip" data-placement="top" title="Visualizar avería"></i>
				</a>
				<button class="btn btn-light btn-sm" (click)="onEdit($event,element)" [disabled]="element.status != 'ABIERTA'"  data-toggle="tooltip" data-placement="top" title="Editar avería">
					<i class="far fa-edit"  data-toggle="tooltip" data-placement="top" title="Editar avería"></i>
				</button>
				<!-- <button class="btn btn-light btn-sm" (click)="mostrarOcultar($event,i)" style="color: red;"  data-toggle="tooltip" data-placement="top" title="Eliminar avería">
				<i class="far fa-trash-alt"  data-toggle="tooltip" data-placement="top" title="Eliminar avería"></i>
				</button> -->
	
			</td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		
		<!-- Row shown when there is no matching data. -->
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="9" style="text-align: left;">No hay datos que coincidan con la busqueda</td>
		</tr>
	</table>
</div>

