<div class="container9">
	<div class="card bg-light mb-3 w-75">
			<!-- <div class="card-header">
				<div class="row" style="text-align:right;"> 
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align:left">
						<h2 class="text-left">Tipos de documentos</h2>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
						<button class="btn btn-link" type="" (click)="moForm()">
							<i class="fas fa-plus-square"></i> {{msj_enlace}}
						</button>
					</div>
				</div>
			</div> -->
			<div class="card-body text-info panel panel-login" *ngIf="tipodService.mostrarForm">
					<form #tipodForm="ngForm" (ngSubmit)="onSubmit(tipodForm)">
							<!-- TO UPDATE -->
							<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="tipodService.selectedTipod.$key">
						
							<div class="row"> <!--Div para alinear 2 campos uno a lado de otro-->
								<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
									<div class="form-group">
										<!-- <mat-label>Id</mat-label> -->
										<input
											placeholder="Id" 
											value=""
											type="number"
											name="idtipod"
											#idtipod="ngModel"
											[(ngModel)]="tipodService.selectedTipod.idtipod"
											maxlength="2"
											[readonly]="tipodService.idFieldReadOnly"
											oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											class="form-control"
											required
										/>
										<div *ngIf="idtipod.invalid && (idtipod.dirty || idtipod.touched)" class="text-danger">
											<div *ngIf="idtipod.errors.required">
												<small>Se requiere Id</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
									<div class="form-group">
										<!-- <mat-label>Descripción</mat-label> -->
										<input
											placeholder="Descripción" 
											value=""
											type="text"
											name="descripcion"
											#descripcion="ngModel"
											[(ngModel)]="tipodService.selectedTipod.descripcion"
											required
											class="form-control"
										/>
										<div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
											<div *ngIf="descripcion.errors.required">
												<small>Se requiere una descripción</small>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group" style="text-align:right;padding-top: 10px;">
								<button class="btn-space" mat-stroked-button style="background-color:#bcc0c252; width: 250px !important;height: 35px !important;" type="submit" [disabled]="tipodForm.invalid">
									Guardar 
								</button>
								<button class="btn-space" mat-stroked-button style="background-color:#bcc0c252; width: 250px !important;height: 35px !important;" type="reset" (click)="resetForm(tipodForm)">
									Reset
								</button>
							</div>
						</form>
			</div>
	</div>
</div>