<!--<app-products></app-products>-->

<div class="container88">
	<h3> ESTRUCTURA DE DATOS MAESTROS </h3>
	<mat-tab-group animationDuration="0ms">
		
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r"></mat-icon>
				Cambiar Estatus	
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-cambiar-id></app-cambiar-id>
				</div>	
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">star_border</mat-icon>
				Bancos
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-banco></app-banco>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-banco-list></app-banco-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">local_atm</mat-icon>
				Condiciones de Pago
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-cpago></app-cpago>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-cpago-list></app-cpago-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">dashboard</mat-icon>
				Grupo de Artículos
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-garticulo></app-garticulo>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-garticulo-list></app-garticulo-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">emoji_symbols</mat-icon>
				Indicador de impuesto
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-iimpuesto></app-iimpuesto>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-iimpuesto-list></app-iimpuesto-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">save</mat-icon>
				Indicador de retención
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-iretencion></app-iretencion>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-iretencion-list></app-iretencion-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">list_alt</mat-icon>
				Listas de precios
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-lprecio></app-lprecio>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-lprecio-list></app-lprecio-list>
				</div>
			</div>
		</mat-tab>

	  	<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">star_border</mat-icon>
				Marcas
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-marca></app-marca>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-marca-list></app-marca-list>
				</div>
			</div>
		</mat-tab>

		 
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">attach_money</mat-icon>
				Moneda
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-moneda></app-moneda>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-moneda-list></app-moneda-list>
				</div>
			</div>
		</mat-tab>
		
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">construction</mat-icon>
				Motivos de averías	
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-maveria></app-maveria>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-maveria-list></app-maveria-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">assignment_return</mat-icon>
				Motivos de Rechazo	
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-mrechazo></app-mrechazo>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-mrechazo-list></app-mrechazo-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">receipt</mat-icon>
				Tipo de Documentos Cobros	
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-tipod-cobros></app-tipod-cobros>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-tipodcobros-list></app-tipodcobros-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">airport_shuttle</mat-icon>
				Transporte	
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-transporte></app-transporte>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-transporte-list></app-transporte-list>
				</div>
			</div>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">straighten</mat-icon>
				Unidades de medidas
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-umedida></app-umedida>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-umedida-list></app-umedida-list>
				</div>
			</div>
		</mat-tab>


		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon-r">attach_money</mat-icon>
				Vías de pago	
			</ng-template>
			<div>
				<div class="col-md-12"> 
					<app-vpago></app-vpago>
				</div>	
			</div>  
			<div>	
				<div class="col-md-12 text-center">
					<app-vpago-list></app-vpago-list>
				</div>
			</div>
		</mat-tab>

	</mat-tab-group>

</div>
