<div class="container9">
	<div class="card bg-light mb-3 w-75" style="max-width: 100%">
			
			<div class="card-body text-info panel panel-login" *ngIf="bancoService.mostrarForm">
					<form #bancoForm="ngForm" (ngSubmit)="onSubmit(bancoForm)">
							<!-- TO UPDATE -->
							<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="bancoService.selectedBanco.$key">
						
							<div class="row"> <!--Div para alinear 2 campos uno a lado de otro-->
								<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
									<div class="form-group">
										<input 
											placeholder="Id" 
											value=""
											type="text"
											name="idbanco"
											#idbanco="ngModel"
											[(ngModel)]="bancoService.selectedBanco.idbanco"
											maxlength="2"
											[readonly]="bancoService.idFieldReadOnly"
											required
											class="form-control"
										/>
										<div *ngIf="idbanco.invalid && (idbanco.dirty || idbanco.touched)" class="text-danger">
											<div *ngIf="idbanco.errors.required">
												<small>Se requiere Id</small>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<input 
										placeholder="Nombre" value=""
										type="text"
										name="nombre"
										#nombre="ngModel"
										[(ngModel)]="bancoService.selectedBanco.nombre"
										required
										class="form-control"
									/>
									<div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
										<div *ngIf="nombre.errors.required">
											<small>Se requiere un nombre</small>
										</div>
									</div>
								</div>
								<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<input 
										placeholder="Descripción" value=""
										type="text"
										name="descripcion"
										#descripcion="ngModel"
										[(ngModel)]="bancoService.selectedBanco.descripcion"
										required
										class="form-control"
									/>
									<div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
										<div *ngIf="descripcion.errors.required">
											<small>Se requiere una descripción</small>
										</div>
									</div>
								</div>
								<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
									<input 
										placeholder="Moneda" value=""
										type="text"
										name="moneda"
										#moneda="ngModel"
										[(ngModel)]="bancoService.selectedBanco.moneda"
										required
										class="form-control"
									/>
									<div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
										<div *ngIf="descripcion.errors.required">
											<small>Se requiere un tipo de moneda</small>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group" style="text-align:right;padding-top: 10px;">
								<button class="btn-space" mat-stroked-button style="background-color:#bcc0c252; width: 250px !important;height: 35px !important;" type="submit" [disabled]="bancoForm.invalid">
									Guardar 
								</button>
								<button class="btn-space" mat-stroked-button style="background-color:#bcc0c252; width: 250px !important;height: 35px !important;" type="reset" (click)="resetForm(bancoForm)">
										Reset
								</button>
							</div>
						</form>
			</div>
	</div>
</div>
