<mat-toolbar color="primary">
		  
		<h1 class="nombre">Cloud Advanced Selling</h1>
		
		<div class="espaciado"></div>
		  <a mat-button (click)="navegar('home')">Inicio</a>
		  <a mat-button (click)="navegar('contacto')">Contacto</a>
		  <a mat-button (click)="navegar('ayuda')">Ayuda</a>
		  <button type="button" class="btn btn-success" (click)="navegar('login')">Entrar</button>
		 <!-- <button mat-button color="accent" (click)="logout()">Salir</button>
		  <a mat-button routerlink="ayuda">Ayuda</a>-->  
</mat-toolbar>