.campo-width {
	width: 100%;
	height: 50px;
}
.autocomplete-container .input-container input {
  background-color: transparent;
}

.bars-spinner {
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	position: absolute;
	background: #fafafa;	
}

mat-spinner {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 45vw;
}
.dates-radio-group {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	left: 50px;
	font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
	color: rgba(0,0,0,.87);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
	/* position:absolute; */
	/* align-items: flex-start; */
  }
  