.container9{
	padding-top: 5px;
}
.campo-width {
	width: 100%;
	height: 50px;
}
.idcampo-width {
	width: 50%;
}
.btn-space {
    margin-right: 8px;
}

.mat-form-field {
	width: 80%;
	font-size: 14px;
}



td.mat-cell {
	padding-right: 10px;
}
  
th.mat-sort-header-sorted {
	color: black;
}

th.mat-header-cell {
	text-align: center;
	padding-inline: 5px;
}

.header-align-right{
	display: flex;
	padding: 21px 0;
	justify-content: flex-end;
}

.table{
	text-align: center !important;
	width: 100%;
}

table {
	width: 100%;
}

.btn-info {
    background: transparent;
	color: rgb(39, 40, 43) !important;
	border-color: rgb(241, 241, 241) !important;
}
  
.btn-info:hover {
	background: rgb(159, 163, 172) !important;
	border-color: rgb(25, 10, 90) !important;
    transition: 0.5s background;
	cursor: pointer;
	color: white !important;
}

.bars-spinner {
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	position: absolute;
	background: #fafafa;	
}
mat-spinner {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 45vw;
}