<div class="container9" style="border-style: solid; border-width: 0px;">

	<!-- <div class="card bg-light mb-3" *ngIf="sendemail">
		<div class="card-header">
			¿Confirma que desea enviar una notificación de cobro?
		</div>
		<div class="card-body" style="width: 100%">
			<div class="row" style="width: 100%">
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Id Pedido</div>
				<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{this.cobro0_.idpedido}}</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Factura</div>
				<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{this.cobro0_.nrofactura}}</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Cliente</div>
				<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{this.cobro0_.nomcliente}}</div>
			</div>
		
			<div class="row" style="width: 100%">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: right; float: right;padding-right: 10%;">
					<button type="button" class="btn btn-outline-info btn-space" (click)="cancelNotifi()">Cancelar</button>
					<button type="button" class="btn btn-outline-danger" (click)="sendUpdate()">Enviar</button>
				</div>
			</div>
		
		</div>
	</div> -->

<!-- Parte de edición -->


	<div class="card bg-light mb-3" style="padding-top: 0; margin-top: 0;">
		<div class="card-body text-info panel panel-login" *ngIf="this.pedidoPend_.idpedido" style="border-style: solid; border-width: 0px;">
			<form #cobroForm="ngForm" (ngSubmit)="agregardetalles()">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="card">
							<div class="card-body" style="padding-right: 8px;padding-left:  8px;height: 250px;">
								
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">N° Pedido</span>
											</div>

											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.idpedido}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Fec. Vencimiento</span>
											</div>

											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.fpago | date: 'dd/MM/yyyy'}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Cond. de Pago</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.condiciondepago}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">N° Factura</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.nrofactura}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Tipo Documento</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.tipodoc}}</mat-label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="card">
							<div class="card-body" style="padding-right: 8px;padding-left:  8px; height: 250px; ">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Cliente</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.nomcliente}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Vendedor</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.nomvendedor}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Zona</span>
											</div>
											<div class="abs-center"><!-- ZONA -->
												<mat-label>{{this.pedidoPend_.listaprecio}}</mat-label>											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Importe OR</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.pedidoPend_.totalmontoneto}}</mat-label>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Importe RE</span>
											</div>
											<div class="abs-center">
												<mat-label>{{this.importeremanente}}</mat-label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>

					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
						<div class="card">
							<div class="card-body" style="padding-right: 8px;padding-left:  8px; height: 250px;">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="input-group input-group-sm mb-3">
											<div class="input-group-prepend" style="width: 125px;">
												<span class="input-group-text" style="width: 120px;" id="inputGroup-sizing-sm">Fecha Pago</span>
											 </div>
											<input 
												type="date"
												[max]="maxDate"
												name="fechadepago"
												id="fechadepago"
												#fechadepago="ngModel"
												[(ngModel)]="this.cobro_.fechadepago"
												[disabled] = "this.visual"
												required
												class="form-control"
											/>
										</div>										
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div> <!--Fila cabecera-->


				<div class="row" style="height: 5px;"></div>
				<div class="row" *ngIf="!this.visual">
					<div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
						<div class="card">
							<div class="card-body" style="padding-right:8px; padding-left:8px; ">
								<div class="row">
									<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2" style="padding-right: 1px;">
										<mat-label style="font-size:smaller; font-weight: bold;">Tipo Documento</mat-label>											
										<div class="form-group input-group input-group-sm mb-3">
											<select value=selected
													required
													name="tipodoc"
													[(ngModel)]="this.cobro_.tipodoc"
													class="form-control form-select form-select-sm"
													aria-label=".form-select-sm example"
												>
													<option value={{tipod.nombre}}  *ngFor = "let tipod of tipodocList">
														{{tipod.nombre}}
													</option>
												</select>
										</div>
									</div>

									<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2" style="padding-left: 1px;">
										<mat-label style="font-size:smaller; font-weight: bold;">Tipo de Pago</mat-label>
										<div class="form-group input-group input-group-sm mb-3">
											<select value=selected
											name="tipopago"
											[(ngModel)]="this.cobro_.tipopago"
											required
											(change)="tpagoselected($event.target.value)"
											class="form-control form-select form-select-sm"
											aria-label=".form-select-sm example"
											>
												<option value="TOTAL" >
													TOTAL
												</option>
												<option value="PARCIAL">
													PARCIAL
												</option>
											</select>
										</div>	
									</div>

									<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"  style="padding-left: 1px;">
										<mat-label style="font-size:smaller; font-weight: bold;">Vía Pago</mat-label>
										<div class="form-group input-group input-group-sm mb-3">
											<select value=selected
													required
													name="viadepago"
													[(ngModel)]="this.cobro_.viadepago"
													(change)="vpagoselected($event.target.value)"
													class="form-control form-select form-select-sm"
													aria-label=".form-select-sm example"
												>
													<option value={{vp.nombre}}  *ngFor = "let vp of vpagoList">
														{{vp.nombre}}
													</option>
												</select>
										</div>
									</div>

									<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"  style="padding-left: 1px;">
										<mat-label style="font-size:smaller; font-weight: bold;">Banco</mat-label>
										<div class="form-group input-group input-group-sm mb-3">
											<select value=selected
													name="banco"
													[(ngModel)]="this.cobro_.banco"
													(change)="bancoselected($event.target.value)"
													class="form-control form-select form-select-sm"
													aria-label=".form-select-sm example"
													[disabled]="this.vp_efectivo"
												>
													<option value={{bc.nombre}}  *ngFor = "let bc of bancoList">
														{{bc.nombre}}
													</option>
											</select>
										</div>
									</div>

									<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1" style="padding-left: 1px;">
										<mat-label style="font-size:smaller; font-weight: bold;">Moneda</mat-label>
										<div class="form-group input-group input-group-sm mb-3">
											<select 
												value = selected
												name="moneda"
												required
												#moneda
												(change) = "monedaSelected($event.target.value)"
												[(ngModel)]="this.cobro_.moneda"
												class="form-control form-select form-select-sm"
												aria-label=".form-select-sm example"
												[disabled]="!this.vp_efectivo"
											>
												<option value="USD" >
													USD
												</option>
												<option value="BSF">
													BSF
												</option>
											</select>
										</div>
									</div>
									
									<div class="col-sm-1 col-md-1 col-lg-1 col-xl-1" style="border-width:0px;border-style:solid;border-color:red">
										<mat-label style="font-size:smaller; font-weight: bold; text-align:left">Monto</mat-label>
										<div class="form-group input-group input-group-sm mb-3">
											<input 
												type="text"
												name="montodepago"
												#monto
												[(ngModel)]="this.montodepago"
												[disabled]="this.cobro_.tipopago=='TOTAL'"
												class="form-control"
												(input) ="montoChanged(monto.value)"
											/>
										</div>
									</div>
									
									<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2" style="border-width:0px;border-style:solid;border-color:red">
										<mat-label style="font-size:smaller; font-weight: bold; text-align:left">Monto BsF</mat-label>
										<div class="form-group input-group input-group-sm mb-3">
											<input 
												type="text"
												name="montobsf"
												required
												[(ngModel)]="this.cobro_.montobsf"
												[disabled]="this.disableBSF"
												class="form-control"
											/>
										</div>
									</div>								
								</div>
							</div>
						</div>

						<div class="row" style="height: 5px;"></div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
										<div class="form-group" style="text-align:right;">
											<button 
												id="btnenviar"
												name="btnenviar"
												class="btn btn-primary btn-space" 
												type="button" 
												[disabled]="cobroForm.invalid"
												(click)="onSubmit(cobroForm)"
											>
												<i class="fas fa-cloud-upload-alt"></i> Guardar
											</button>
											<button class="btn btn-light" type="reset" (click)="onCancelar(cobroForm)">
												<i class="fas fa-sync-alt"></i> Cancelar
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</form>
		</div>
	</div><!--class card-->



	<div class="card-body text-info" *ngIf="this.pedidoPend_.idpedido" style="border-style:solid;border-width:0px;">
	
		<div class="row" style="border-style: solid; border-width: 0px;">	
				<div id="gped" class="card border-light bg-light w-100" style="padding: 15px;">
<!-- 					Detalles de Pagos
 -->				<div class="table-responsive">
						<table class="table table-striped table-hover table-sm">
							<thead class="thead-success table-success">
								<tr>
									<th scope="col">Fecha</th>
									<th scope="col">Tipo Documento</th>
									<th scope="col">Tipo Pago</th>
									<th scope="col">Vía de pago</th>
									<th scope="col">Banco</th>
									<th scope="col">Moneda</th>
									<!-- <th scope="col">Referencia</th> -->
									<th scope="col" style="text-align: right;">Monto</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let cobr of this.matrisDetCobro; index as i">
									<th scope="row">{{cobr.fechadepago | date: 'dd/MM/yyyy'}}</th>
									<td>{{cobr.tipodoc}}</td>
									<td>{{cobr.tipopago}}</td>
									<td>{{cobr.viadepago}}</td>
									<td>{{cobr.banco}}</td>
									<td>{{cobr.moneda}}</td>
									<!-- <td style="text-align: right;">{{cobr.nroreferencia}}</td> -->
									<td style="text-align: right;">{{cobr.montodepago | currency:" "}}</td>
								</tr>
							</tbody>
							<thead class="thead-success table-success">
								<tr>
									<td scope="col" colspan="6">Total</td>
									<td scope="col" style="text-align: right;">{{this.pagoparcialpagado | currency:" "}}</td>
								</tr>
							</thead>
							<tr>
								<td colspan="5" style="text-align:right;">
									<button *ngIf="this.ver" class="btn btn-light" type="reset" (click)="onCancelar(cobroForm)">
										<i class="fas fa-sync-alt"></i> Cancelar
									</button>
								</td>
							</tr>
						</table>
					</div>

				</div>
			
		</div>
	

	</div>

<!-- Tabla principal -->
	<div style="width: 100%; margin-left: 10px; padding-right: 10px;" *ngIf="!this.pedidoPend_.idpedido">
		<mat-form-field>
			<mat-label>Buscar por</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="Buscar por" #input>
		</mat-form-field>

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover" matSort>
		
		<!-- Position Column -->
		<ng-container matColumnDef="Pedido">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;">Pedido </th>
			<td mat-cell *matCellDef="let element">{{element.idpedido}}</td>
		</ng-container>
		
		<!-- Name Column -->
		<ng-container matColumnDef="Factura">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"> NE/FA </th>
			<td mat-cell *matCellDef="let element">
				<span *ngIf="element.tipodoc == 'Factura'">
					FA{{element.nrofactura}}
				</span>
				<span *ngIf="element.tipodoc == 'Nota de entrega'">
					NE{{element.nrofactura}}
				</span>
				<span *ngIf="!element.tipodoc">
					{{element.nrofactura}}
				</span>
			</td>
		</ng-container>
	
		<!-- Name Column -->
		<!-- <ng-container matColumnDef="Status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Status </th>
			<td mat-cell *matCellDef="let element"> {{element.statuscobro}} </td>
		</ng-container> -->
	
		<!-- Weight Column -->
		<ng-container matColumnDef="Condicion">
			<th mat-header-cell *matHeaderCellDef>Condición de Pago</th>
			<td mat-cell *matCellDef="let element"> {{element.condiciondepago}} </td>
		</ng-container>
		
		<!-- Symbol Column .toDate() | date: 'dd/MM/yyyy&nbsp; hh:mm a' -->
		<ng-container matColumnDef="Fecha">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Vencimiento </th>
			<td mat-cell *matCellDef="let element"> {{element.fpago.toDate() | date: 'dd/MM/yyyy'}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="Cliente">
			<th mat-header-cell *matHeaderCellDef> Cliente </th>
			<td mat-cell *matCellDef="let element"> {{element.nomcliente}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="Vendedor">
			<th mat-header-cell *matHeaderCellDef> Vendedor </th>
			<td mat-cell *matCellDef="let element"> {{element.nomvendedor}} </td>
		</ng-container>
	
		<!-- Symbol Column -->
			<ng-container matColumnDef="Subtotal">
				<th mat-header-cell *matHeaderCellDef style="text-align: center;">Sub Total</th>
				<td mat-cell *matCellDef="let element"> {{element.totalmontobruto-element.totalmontodescuento | currency:" "}} </td>
			</ng-container>

		<!-- Symbol Column -->
			<ng-container matColumnDef="totalmontoimpuesto">
				<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Impuesto </th>
				<td mat-cell *matCellDef="let element"> {{element.totalmontoimpuesto | currency:" "}} </td>
			</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="totalmontoneto">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Total</th>
			<td mat-cell *matCellDef="let element"> {{element.totalmontoneto | currency:" "}} </td>
		</ng-container>

		<ng-container matColumnDef="abono">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Abono </th>
			<td mat-cell *matCellDef="let element"><b *ngIf="element.statuscobro == 'PARCIAL'">x</b></td>
		</ng-container>

			<!-- Symbol Column -->
		<!-- <ng-container matColumnDef="send">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"></th>
			<td mat-cell *matCellDef="let element index as i">
				<a class="btn btn-info text-white btn-sm" (click)="sendpopup(element)"  data-toggle="tooltip" data-placement="top" title="Visualizar pedido">
					<i class="far fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Enviar Recordatorio"></i>
				</a>
			</td>
		</ng-container> -->
		<!-- Symbol Column -->
		<ng-container matColumnDef="Opc">
			<th mat-header-cell *matHeaderCellDef style="width: 100px !important;"></th>
			<td mat-cell *matCellDef="let element index as i">

				<a class="btn btn-info text-white btn-sm" (click)="verdetalles($event,element)"  data-toggle="tooltip" data-placement="top" title="Visualizar pedido">
					<i class="fas fa-search" data-toggle="tooltip" data-placement="top" title="Visualizar pedido"></i>
				</a>
				<button class="btn btn-light" (click)="selectEventCob(element)" [disabled]="element.status == 'PENDIENTE'">
					<i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Editar cobro"></i>
				</button>
	
			</td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		
		<!-- Row shown when there is no matching data. -->
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="9" style="text-align: left;">No hay datos que coincidan con la busqueda</td>
		</tr>
		</table>
  	</div>
</div>
