<div class="h-100 w-100" style="background-image:url('../../../assets/img/fondo.jpg');background-repeat:no-repeat; background-size: cover;">
	<div class="container">    
			<!-- <app-navbar></app-navbar>  -->
			
			<router-outlet></router-outlet>
			<div
				class="card align-items-center h-100 w-100"
				style="padding-top: 25px; background-color: transparent; border-width: 0px;" 
			>
				<div class="card mb-3 w-60" style="background: rgb(253, 253, 253,0.7)">
					<div class="card-header" style="padding-top: 20px;">
						<p class="txt-titulo">
								Bienvenidos a su App Web  
						</p>
					</div>
					<div class="card-body">
						Administre y configure sus datos, Visualice informes, agregue, actualice, y elimine registros 
					</div>
					
				</div>
			</div>
	</div>
</div>
