.container9{
	padding-top: 5px;
}
.campo-width {
	width: 100%;
	height: 50px;
}
.idcampo-width {
	width: 50%;
}
.btn-space {
    margin-right: 8px;
}

.mat-form-field {
	width: 100%;
	font-size: 14px;
}
  
th.mat-sort-header-sorted {
	color: black;
}


th.mat-header-cell {
	text-align: center;
	margin-inline: 2px;
}
/* 
.mat-column-totalmontoimpuesto {
	width: 100px !important;
	text-align: right;
}

.mat-column-totalmontodescuento {
	width: 100px !important;
	text-align: right;
}

.mat-column-totalmontoneto {
	width: 100px !important;
	text-align: right;
}

.mat-column-Opc {
	width: 110px !important;
	text-align: right;
}
.mat-column-demora {
	width: 50px !important;
	text-align: right;
}

.mat-column-Pedido {
	width: 10px !important;
	text-align: left;
	padding-right: 8px;
}

.mat-column-Factura {
	width: 10px !important;
	text-align: left;
	padding-right: 8px;
}

.mat-column-Status {
	width: 80px !important;
	text-align: left;
}

.mat-column-Condicion {
	width: 110px !important;
	text-align: left;
}

.mat-column-Fecha {
	width: 120px !important;
	text-align: center;
}

.mat-column-Cliente {
	width: 155px !important;
	text-align: left;
}

.mat-column-Vendedor {
	width: 140px !important;
	text-align: left;
}

.mat-column-Subtotal {
	width: 100px !important;
	text-align: right;
}

.mat-column-totalmontoimpuesto {
	width: 100px !important;
	text-align: right;
}
 */
.header-align-right{
	display: flex;
	padding: 21px 0;
	justify-content: flex-end;
}

.table{
	text-align: left !important;
	width: 100%;
}

table {
	width: 100%;
}

.btn-info {
    background: transparent;
	color: rgb(39, 40, 43) !important;
	border-color: rgb(241, 241, 241) !important;
}
  
.btn-info:hover {
	background: rgb(159, 163, 172) !important;
	border-color: rgb(25, 10, 90) !important;
    transition: 0.5s background;
	cursor: pointer;
	color: white !important;
}

/*Estilo de switch activo o checked*/ 
.custom-control-input:checked ~  
.custom-control-label::before { 	
	border-color: rgba(176, 176, 236, 0.747) !important; 
    background-color: #5dc1b92d !important; 
} 
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	background-color:#f80000;
}

/*Estilo del switch inactivo*/
.custom-control-label::before {
	border-color: rgba(176, 176, 236, 0.747) !important; 
	background-color:#5dc1b92d;
}
.custom-switch .custom-control-label::after {
	background-color:#00bb2d;
}