<div class="container9">
	<div class="card bg-light mb-3 w-75" style="max-width: 100%">
		<!-- <div class="card-header">
			<div class="row" style="text-align:right;"> 
				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align:left">
					<h2 class="text-left">Motivos de Avería</h2>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<button class="btn btn-link" type="button" (click)="moForm()">
						<i class="fas fa-plus-square"></i> {{msj_enlace}}
					</button>
				</div>
			</div>
		</div> -->
		<div class="card-body text-info panel panel-login" *ngIf="maveriaService.mostrarForm">
				<form #maveriaForm="ngForm" (ngSubmit)="onSubmit(maveriaForm)">
						<!-- TO UPDATE -->
						<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="maveriaService.selectedMaveria.$key">
					
						<div class="row"> <!--Div para alinear 2 campos uno a lado de otro-->
							<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
								<div class="form-group">
									<input 
										placeholder="Id" value=""
										type="text"
										name="idmaveria"
										#idmaveria="ngModel"
										[(ngModel)]="maveriaService.selectedMaveria.idmaveria"
										maxlength="3"
										[readonly]="maveriaService.idFieldReadOnly"
										required
										class="form-control"
									/>
									<div *ngIf="idmaveria.invalid && (idmaveria.dirty || idmaveria.touched)" class="text-danger">
										<div *ngIf="idmaveria.errors.required">
											<small>Se requiere Id</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
								<input 
									placeholder="Descripción" value=""
									type="text"
									name="descripcion"
									#descripcion="ngModel"
									[(ngModel)]="maveriaService.selectedMaveria.descripcion"
									required
									class="form-control"
								/>
								<div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
									<div *ngIf="descripcion.errors.required">
										<small>Se requiere una descripción</small>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" style="text-align:right;padding-top: 10px;">
							<button class="btn-space" mat-stroked-button style="background-color:#bcc0c252; width: 250px !important;height: 35px !important;" type="submit" [disabled]="maveriaForm.invalid">
								Guardar 
							</button>
							<button class="btn-space" mat-stroked-button style="background-color:#bcc0c252; width: 250px !important;height: 35px !important;" type="reset" (click)="resetForm(maveriaForm)">
								Reset
							</button>
						</div>
				</form>	
		</div>
	</div>
</div>
