.contenedor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  
  .paraMobile .barramenuizq {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

 
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .contenedor-menuizq {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .paraMobile .contenedor-menuizq {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }





  /*-----------------------------------------------------------------
  Menu Inquierdo -- SideNav
------------------------------------------------------------------*/
/*
mat-sidenav{
  width: 20%;
}
*/
.iconLeft{
	margin-right: 0px;
	font-size: 26px;
}
  
  .MenutextLeft {
	display: table-cell;
	vertical-align: middle;
	margin-right: 20px;
	
	font-size: 28px;
	color: black !important;
  }
  
  .active-list-item {
	font-weight: bold !important;
	color: rgb(182, 119, 241)  !important; /* Note: You could also use a custom theme */  
  }

.espaciado{
    flex: 1 1 auto;
}

.text-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  text-align: right;
  padding-right: 5px;
}

.nav-link{
  cursor: pointer;
  text-align: left;
}


.mat-toolbar {
  color: #eff2f3;
  font-weight: normal;
}

/* .mat-menu{
  color:white
} */
/* .mat-button{
  color:white;
} */

.nav-link {
  color: #166a8f;
  background-color: #eff2f3;
}

