<div *ngIf="!this.gestionaveriasService.mostrarForm">
	<button class="btn btn-secondary btn-space" type="" (click)="moForm()">
		<i class="fas fa-plus size:3x"></i> Nueva
	</button>
	<mat-form-field>
		<mat-label>Buscar por</mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Buscar por" #input>
	</mat-form-field>
</div>

<!--FORM confirmar ELIMINACION-->
<div class="card bg-light mb-3" *ngIf="mostrardiv">
	<div class="card-header">
		¿Esta seguro de eliminar este avería?
	</div>
	<div class="card-body" style="width: 100%">
		<div class="row" style="width: 100%">
			<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Id Avería</div>
			<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{idaveriaEli}}</div>
			<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Fecha</div>
			<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{fechaaveriaEli.toDate() | date:'short'}}</div>
			<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Cliente</div>
			<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{clienteaveriaEli}}</div>
		</div>
		<form #confirmarForm="ngForm">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 10px;">
						<div class="input-group input-group-sm mb-3">
							<textarea value=selected
								rows="2"
								cols="45"
								#motRe
								name="motivorechazo"
								id="motivorechazo"
								[(ngModel)]="txtComentario"
								required
								placeholder="Motivo"
							></textarea>
						</div>
					</div>
				</div>
				<div class="row" style="width: 100%">
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: right; float: right;padding-right: 10%;">
						<button type="button" class="btn btn-outline-info btn-space" (click)="onCancelar(confirmarForm)">Cancelar</button>
						<button type="button" class="btn btn-outline-danger" (click)="onDelete($event)" [disabled]="confirmarForm.invalid">Eliminar</button>
					</div>
				</div>
		</form>	
	</div>
</div>

<div style="width: 100%; margin-left: 10px; padding-right: 10px;" *ngIf="!this.gestionaveriasService.mostrarForm">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover" matSort>	
		<!-- Position Column -->
		<ng-container matColumnDef="uid">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;">N° Avería </th>
			<td mat-cell *matCellDef="let element"> {{element.idaveria}} </td>
		</ng-container>
		
		<!-- Name Column -->
		<ng-container matColumnDef="Fecha">
			<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha</th>
			<td mat-cell *matCellDef="let element"> {{element.fechaaveria.toDate() | date: 'dd/MM/yyyy&nbsp; hh:mm a'}} </td>
		</ng-container>
	
		<!-- Name Column -->
		<ng-container matColumnDef="nrodocumento">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Doc. Ref </th>
			<td mat-cell *matCellDef="let element"> {{element.nrodocumento}} </td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="Cliente">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
			<td mat-cell *matCellDef="let element"> {{element.nomcliente}} </td>
		</ng-container>
		
		<!-- Symbol Column -->
		<ng-container matColumnDef="Vendedor">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
			<td mat-cell *matCellDef="let element"> {{element.nomvendedor}} </td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="Status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;"> Status </th>
			<td mat-cell *matCellDef="let element"> {{element.status}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="totalaveria">
			<th mat-header-cell *matHeaderCellDef style="text-align: right;">Monto</th>
			<td mat-cell *matCellDef="let element"> {{element.totalaveria | currency:" "}} </td>
		</ng-container>
	
		<!-- Symbol Column -->
		<ng-container matColumnDef="Opc">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let element index as i">
				<a class="btn btn-light btn-sm" (click)="verdetalles($event,element)"  data-toggle="tooltip" data-placement="top" title="Visualizar avería">
					<i class="fas fa-search" data-toggle="tooltip" data-placement="top" title="Visualizar avería"></i>
				</a>
				<button class="btn btn-light btn-sm" (click)="onEdit($event,element)" [disabled]="element.status != 'ABIERTA'"  data-toggle="tooltip" data-placement="top" title="Editar avería">
					<i class="far fa-edit"  data-toggle="tooltip" data-placement="top" title="Editar avería"></i>
				</button>
				<button class="btn btn-light btn-sm" (click)="mostrarOcultar($event,i)" style="color: red;"  data-toggle="tooltip" data-placement="top" title="Eliminar avería">
				<i class="far fa-trash-alt"  data-toggle="tooltip" data-placement="top" title="Eliminar avería"></i>
				</button>
	
			</td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		
		<!-- Row shown when there is no matching data. -->
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="9" style="text-align: left;">No hay datos que coincidan con la busqueda</td>
		</tr>
	</table>
</div>
