<div class="container9" style="border-style: solid; border-width: 0px;">

	<div class="card bg-light mb-3" *ngIf="sendemail">
		<div class="card-header">
			¿Confirma que desea enviar una notificación de cobro?
		</div>
		<div class="card-body" style="width: 100%">
			<div class="row" style="width: 100%">
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Id Pedido</div>
				<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{this.cobro0_.idpedido}}</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Factura</div>
				<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{this.cobro0_.nrofactura}}</div>
				<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">Cliente</div>
				<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">{{this.cobro0_.nomcliente}}</div>
			</div>
		
			<div class="row" style="width: 100%">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: right; float: right;padding-right: 10%;">
					<button type="button" class="btn btn-outline-info btn-space" (click)="cancelNotifi()">Cancelar</button>
					<button type="button" class="btn btn-outline-danger" (click)="sendUpdate()">Enviar</button>
				</div>
			</div>
		
		</div>
	</div>

<!-- Parte de visualizacion -->
	<div class="card-body text-info" *ngIf="this.cobro_.uid" style="border-style:solid;border-width:0px;">
		<div class="row">
			<div class="table-responsive">
				<table class="table table-sm">
					<tbody>
						<tr>
							<th scope="row">
								<mat-label style="font-weight: bold;">Número de Pedido</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.idpedido}}</mat-label>
							</td>
							<th scope="row">
								<mat-label style="font-weight: bold;">Número de Factura</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.nrofactura}}</mat-label>
							</td>
							<th scope="row">
								<mat-label style="font-weight: bold;">Condición de Pago</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.condiciondepago}}</mat-label>
							</td>
							<!-- <th scope="row">Status Pedido</th>
							<td>
								<mat-label>{{this.cobro_.status}}</mat-label>
							</td> -->
						</tr>
						<tr>
							<th scope="row">
								<mat-label style="font-weight: bold;">Fecha de Vencimiento</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.fpvencimiento | date: 'dd/MM/yyyy'}}</mat-label>
							</td>
							<th scope="row">
								<mat-label style="font-weight: bold;">Cliente</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.nomcliente}}</mat-label>
							</td>
							<th scope="row">
								<mat-label style="font-weight: bold;">Vendedor</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.nomvendedor}}</mat-label>
							</td>
							<th scope="row">Status Cobro</th>
							<td>
								<mat-label>{{this.cobro_.statuscobro}}</mat-label>
							</td>
						</tr>
						<tr>
							<th scope="row">
								<mat-label style="font-weight: bold;">Sub Total</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.totalmontobruto-this.cobro_.totalmontodescuento | currency:" "}}</mat-label>
							</td>
							<th scope="row">
								<mat-label style="font-weight: bold;">Impuesto</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.totalmontoimpuesto | currency:" "}}</mat-label>
							</td>
							<th scope="row">
								<mat-label style="font-weight: bold;">Total</mat-label>
							</th>
							<td>
								<mat-label>{{this.cobro_.totalmontoneto | currency:" "}}</mat-label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
		<div class="row" style="border-style: solid; border-width: 0px;">
			
				<div *ngIf="!this.ver" id="gped" class="card border-secondary bg-light w-100" style="padding: 10px;">
					<form #cobroForm="ngForm">
					<div class="row" style="padding-top:10px;">
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<mat-form-field appearance="legacy">
									<mat-label>Tipo de Pago</mat-label>
									<mat-select 
										value=selected
										name="tipopago"
										aria-placeholder="Tipo de Pago"
										#name="ngModel"
										[(ngModel)]="this.cobro_.tipopago"
										(selectionChange)="tpagoselected($event.value)"
										required
									>
										<mat-option value="Pago Total" >
											Pago Total
										</mat-option>
										<mat-option value="Pago Parcial">
											Pago Parcial
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<mat-form-field appearance="legacy">
									<mat-label>Fecha de Pago</mat-label>
									<input matInput [matDatepicker]="picker"
										name="fechadepago"
										id="fechadepago"
										#name="ngModel"
										[(ngModel)]="this.cobro_.fechadepago"
										required
									>
									<mat-datepicker-toggle matSuffix [for]="picker">
										<mat-icon matDatepickerToggleIcon>
											event_note
										</mat-icon>
									</mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<mat-form-field appearance="legacy">
									<mat-label>Vía de pago</mat-label>
									<mat-select value=selected
										aria-placeholder="Vía de Pago"
										required
										name="viadepgo"
										#name="ngModel"
										[(ngModel)]="this.cobro_.viadepago"
										(selectionChange)="vpagoselected($event.value)"
									>
										<mat-option value={{vp.descripcion}}  *ngFor = "let vp of vpagoList">
											{{vp.descripcion}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<mat-form-field appearance="legacy">
									<mat-label>Banco</mat-label>
									<mat-select value=selected
										aria-placeholder="Banco"
										required
										name="banco"
										#name="ngModel"
										[(ngModel)]="this.cobro_.banco"
										[disabled]="this.vp_efectivo"
									>
										<mat-option value={{bc.descripcion}}  *ngFor = "let bc of bancoList">
											{{bc.descripcion}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<mat-form-field class="campo-width">
									<mat-label>Referencia</mat-label>
									<input matInput placeholder="Referencia."
										type="text"
										maxlength="20"
										name="nroreferencia"
										[(ngModel)]="this.cobro_.nroreferencia"
										[disabled]="this.vp_efectivo"
										required
									>
								</mat-form-field>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<mat-form-field class="campo-width">
									<mat-label>Monto de Pago</mat-label>
									<input matInput placeholder="Monto de Pago"
										type="number"
										name="montodepago"
										[(ngModel)]="this.cobro_.montodepago"
										[disabled]="this.pagototal"
										required
									>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group">
								<mat-form-field class="example-full-width"> 
									<mat-label>Observación</mat-label>
									<textarea rows="3" cols="40" matInput placeholder="Observación"
										name="Observación"
										maxlength="200"
										id="Observación"
										[(ngModel)]="this.cobro_.observacion"
									></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group" style="text-align:right;">
								<button 
									id="btnenviar"
									name="btnenviar"
									class="btn btn-primary btn-space" 
									type="button" 
									[disabled]="cobroForm.invalid"
									(click)="onSubmit(cobroForm)"
								>
									<i class="fas fa-cloud-upload-alt"></i> Guardar
								</button>
								<button class="btn btn-light" type="reset" (click)="onCancelar(cobroForm)">
									<i class="fas fa-sync-alt"></i> Cancelar
								</button>
							</div>
						</div>
					</div>
					</form><!--Form notificar factura-->
				</div>
			
				<div id="gped" class="card border-light bg-light w-100" style="padding: 15px;">
					Detalles de Pagos
					<div class="table-responsive">
						<table class="table table-striped table-hover table-sm">
							<thead class="thead-success table-success">
								<tr>
									<th scope="col">Fecha</th>
									<th scope="col">Vía de pago</th>
									<th scope="col">Banco</th>
									<th scope="col">Referencia</th>
									<th scope="col" style="text-align: right;">Monto</th>
									<!-- <th scope="col">-</th> -->
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let cobr of this.matrisDetCobro; index as i">
									<th scope="row">{{cobr.fechadepago | date: 'dd/MM/yyyy'}}</th>
									<td>{{cobr.viadepago}}</td>
									<td>{{cobr.banco}}</td>
									<td style="text-align: right;">{{cobr.nroreferencia}}</td>
									<td style="text-align: right;">{{cobr.montodepago | currency:" "}}</td>
									<!-- <th style="cursor: pointer;" scope="col" (click)="removeDetRow(i)"><i class="fas fa-trash"></i></th> -->
								</tr>
							</tbody>
							<thead class="thead-success table-success">
								<tr>
									<td scope="col" colspan="4">Total</td>
									<td scope="col" style="text-align: right;">{{this.pagoparcialpagado | currency:" "}}</td>
									<!-- <td scope="col"></td>
									<td scope="col" style="text-align: right;">{{this.pedidoService.totalPri | currency:" "}}</td>
									<td scope="col" style="text-align: right;">{{this.pedidoService.totalCnt | currency:" ":'symbol':'2.0'}}</td>
									<td scope="col" style="text-align: right;">{{this.pedidoService.totalPed | currency:" "}}</td>
									<td scope="col">-</td> -->
								</tr>
							</thead>
							<tr>
								<td colspan="5" style="text-align:right;">
									<button *ngIf="this.ver" class="btn btn-light" type="reset" (click)="onCancelar(cobroForm)">
										<i class="fas fa-sync-alt"></i> Cancelar
									</button>
								</td>
							</tr>
						</table>
					</div>

				</div>
			
		</div>
	

	</div>

	<div style="width: 100%; margin-left: 10px; padding-right: 10px;" *ngIf="!this.cobro_.uid">
		<mat-form-field>
			<mat-label>Buscar por</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="Buscar por" #input>
		</mat-form-field>

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover" matSort>
			
			
			<!-- Symbol Column .toDate() | date: 'dd/MM/yyyy&nbsp; hh:mm a' -->
			<ng-container matColumnDef="fechapago">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Fecha Pago </th>
				<td mat-cell *matCellDef="let element"><span *ngIf="element.fechadepago">{{element.fechadepago.toDate() | date: 'dd/MM/yyyy'}}</span></td>
			</ng-container>

			<!-- Position Column -->
			<ng-container matColumnDef="pedido">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Pedido </th>
				<td mat-cell *matCellDef="let element">{{element.idpedido}}</td>
			</ng-container>
			
			<!-- Name Column -->
			<ng-container matColumnDef="documento">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> NE/FA </th>
				<td mat-cell *matCellDef="let element">
					<span *ngIf="element.tipodoc == 'Factura'">
						FA{{element.nrofactura}}
					</span>
					<span *ngIf="element.tipodoc == 'Nota de entrega'">
						NE{{element.nrofactura}}
					</span>
					<span *ngIf="!element.tipodoc">
						{{element.nrofactura}}
					</span>
				</td>
			</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="vendedor">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor </th>
				<td mat-cell *matCellDef="let element"> {{element.nomvendedor}} </td>
			</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="cliente">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
				<td mat-cell *matCellDef="let element"> {{element.nomcliente}} </td>
			</ng-container>
		
			<!-- Symbol Column -->
				<ng-container matColumnDef="tipopago">
					<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Tipo Pago</th>
					<td mat-cell *matCellDef="let element"> {{element.tipopago}} </td>
				</ng-container>

			<!-- Symbol Column -->
				<ng-container matColumnDef="viapago">
					<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Vía Pago </th>
					<td mat-cell *matCellDef="let element"> {{element.viadepago}} </td>
				</ng-container>

				<ng-container matColumnDef="banco">
					<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Banco </th>
					<td mat-cell *matCellDef="let element">{{element.banco}}</td>
				</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="totalmontonetousd">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Monto USD</th>
				<td mat-cell *matCellDef="let element"> {{element.montodepago | currency:" "}} </td>
			</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="totalmontonetobsf">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Monto BSF</th>
				<td mat-cell *matCellDef="let element"> {{element.montobsf | currency:" "}} </td>
			</ng-container>


				<!-- Symbol Column -->
			<ng-container matColumnDef="send">
				<th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"></th>
				<td mat-cell *matCellDef="let element index as i">
					<a class="btn btn-info text-white btn-sm" (click)="sendpopup(element)"  data-toggle="tooltip" data-placement="top" title="Visualizar pedido">
						<i class="far fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Enviar Recordatorio"></i>
					</a>
				</td>
			</ng-container>
			<!-- Symbol Column -->
			<!-- <ng-container matColumnDef="Opc">
				<th mat-header-cell *matHeaderCellDef style="width: 100px !important;"></th>
				<td mat-cell *matCellDef="let element index as i">

					<a class="btn btn-info text-white btn-sm" (click)="verdetalles($event,element)"  data-toggle="tooltip" data-placement="top" title="Visualizar pedido">
						<i class="fas fa-search" data-toggle="tooltip" data-placement="top" title="Visualizar pedido"></i>
					</a>
					<button class="btn btn-light" (click)="selectEventCob(element)" [disabled]="element.status == 'PENDIENTE'">
						<i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Editar pedido"></i>
					</button>
		
				</td>
			</ng-container> -->
		
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			
			<!-- Row shown when there is no matching data. -->
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="9" style="text-align: left;">No hay datos que coincidan con la busqueda</td>
			</tr>
		</table>
  	</div>
</div>
